#Database connection
DATABASE_URL = postgresql+asyncpg://postgres:postgres@db:5432/app
TEST_DATABASE_URL = postgresql+asyncpg://postgres:postgres@db:5432/test
DATABASE_SERVICE_NAME = postgresql+asyncpg
DATABASE_IP = db
DATABASE_PORT = 5432

# Authentication
JWT_SECRET=senha_secreta
JWT_EXPIRATION_DAYS=1
JWT_ALGORITHM=HS256
HASH_SALT=8

# Server miscellaneous
CORS_ORIGINS = '["http://localhost", "http://localhost:3000", "http://localhost:8080"]'
SENTRY_DSN =
SENTRY_SAMPLE_RATE = 0.0

# System configuration
ROLES=ADMIN,CUSTOMER,EMPLOYEE
ORDER_STATUS=IN_PROGRESS,CANCELED,REQUESTED,FINISHED,WAITING_PAYMENT,UNDER_REVIEW